{% extends "base.html" %}
{% block content %}
<content class="row">
	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-5 text-left">
		<h3>Categories</h3>
	      <ul class="category_list">
			{% for category in categories %}
			<li><a href="{{url_for('getCatalogItems',category=category.category)}}">{{ category.category }}</a></li>
			{% endfor %}	      
		  </ul>        		
	</div>
	<div class="col-lg-9 col-md-9 col-sm-9 col-xs-7 text-left">
		{% if 'username' in session %}
		<a href="/catalog/new">Add Item</a>
		{% endif %}
		<h3>{{ items[0].category }} Items ({{ items|length }})</h3>
		<ul>
		{% for item in items %}
		<li><a href="{{url_for('getCatalogItemDetails',category=item.category,itemname=item.title)}}"> {{ item.title }} </a></li>
		{% endfor %}
		</ul>
	</div>
</content>
{% endblock %}
