{% extends "base.html" %}
{% block content %}
    <div class="map-data">
    <header>
        <h3>Tourist Places in Rajasthan</h3>
            <div class="menu_logo">
                <a id="menu" data-bind="click: showMenuIcon">
                <svg viewBox="0 0 44 44">
                    <rect x="4" y="12" fill="currentColor" width="32px" height="2"></rect>
                    <rect x="4" y="20" fill="currentColor" width="32px" height="2"></rect>
                    <rect x="4" y="28" fill="currentColor" width="32px" height="2"></rect>
                </svg>              
                </a>        
            </div>    
    </header>
    <div id="placelistview" class="listview" data-bind="css: {open: setMenuIcon}">
        <div id="filter">
            <input id="filter-text" data-bind="event: {keyup: filterLocationList}, textInput: filterInputText" type="text" placeholder="Station Location">
        </div>
        <ul id="places-list" data-bind="foreach: locationList">
            <li><button data-bind="click: $parent.selectThisLocation, text: $data.title"></button></li>
        </ul>      
    </div>
    <div id="map"></div>
    <div id="map-error"></div>
    </div>
{% endblock %}