{% extends "base.html" %}
{% block content %}
    <div class="map-data">
    <header class="row">
        <h3>Tourist Places in Rajasthan</h3>
            <div class="menu_logo">
                <a id="menu" data-bind="click: showMenuIcon">
                <svg viewBox="0 0 44 44">
                    <rect x="4" y="12" fill="currentColor" width="32px" height="2"></rect>
                    <rect x="4" y="20" fill="currentColor" width="32px" height="2"></rect>
                    <rect x="4" y="28" fill="currentColor" width="32px" height="2"></rect>
                </svg>              
                </a>        
            </div>    
    </header>
    <div class="row">
    <div id="placelistview" class="listview col-lg-3 col-md-3 col-sm-3 col-xs-4 text-left" data-bind="css: {open: setMenuIcon}">
        <div id="filter">
            <input id="filter-text" data-bind="event: {keyup: filterLocationList}, textInput: filterInputText" type="text" placeholder="Station Location">
        </div>
        <ul id="places-list" data-bind="foreach: locationList">
            <li><button data-bind="click: $parent.selectThisLocation, text: $data.title"></button></li>
        </ul>      
    </div>
    <div id="map" class="col-lg-9 col-md-9 col-sm-9 col-xs-8"></div>
    </div>
    <div id="map-error" class="row"></div>
    </div>
{% endblock %}