{% extends "base.html" %}
{% block content %}
<content class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
		<h3>{{item.title}}</h3>
		<p>Description: {{ item.description }}</p>
		{% if 'username' in session %}
		<a href="{{url_for('editItem',category=item.category,itemname=item.title)}}">Edit</a> | <a href="{{url_for('deleteItem',category=item.category,itemname=item.title)}}">Delete</a>
		{% endif %}		
		<br><a href="{{url_for('getCatalogItems',category=item.category)}}">Back</a>
	</div>	
</content>
{% endblock %}