{% extends "base.html" %}
{% block content %}
<content class="row">
	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-5 text-left">
		<h3>Categories</h3>
	      <ul class="category_list">
			{% for category in categories %}
			<li><a href="{{url_for('catalog.getCatalogItems',category=category.category)}}">{{ category.category }}</a></li>
			{% endfor %}	      
		  </ul>
	</div>
	<div class="col-lg-9 col-md-9 col-sm-9 col-xs-7 text-left">
		<a href="/catalog/new">Add Item</a>
		<h3>Latest Items</h3>
		<ul>
		{% for item in items %}
		<li><a href="{{url_for('catalog.getCatalogItemDetails',category=item.category,itemname=item.title)}}"> {{ item.title }} ({{ item.category }}) </a></li>
		{% endfor %}
		</ul>
	</div>
</content>
{% endblock %}
