{% extends "base.html" %}
{% block content %}
<h1 class="text-center">About us</h1>
<div class="text-center contactus">
	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
		<img src="{{url_for('static', filename='images/founder.jpg')}}" alt="image.jpg">
		<h2><em>Gaurav Singh</em></h2>
		<h2>Founder, CEO & CTO</h2>
		<p></p>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
		<img src="">
		<h2><em></em></h2>
		<h2></h2>
		<p></p>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
		<img src="">
		<h2><em></em></h2>
		<h2></h2>
		<p></p>
	</div>
</div>
</p>
{% endblock %}